{% extends 'blog_base.html' %}
{% load render_partial %}
{% load static %}
{% load jformat %}
{% load custom_filters %}
{% load humanize %}


{% block blog_content %}
    <!-- Page Content -->
    <!-- Banner Starts Here -->
    <div class="main-banner header-text" dir="ltr">
        <div class="container-fluid">
            <div class="owl-banner owl-carousel">
                {% for post in recent_posts %}
                    <div class="item rounded">
                        <img class="rounded" src="{{ post.images.all.first.image.url }}" alt="">
                        <div class="item-content mr-3">
                            <div class="main-content">
                                <div class="meta-category ">
                                    <span class="persian">{{ post.category.title }}</span>
                                </div>
                                <a href="{{ post.get_absolute_url }}" class="persian"><h4>{{ post.title }}</h4></a>
                                <ul class="post-info">
                                    <li><a href="#" class="persian">{{ post.author.full_name }}</a></li>
                                    <li><a href="#" class="persian">{{ post.date_published|jformat:"%Y/%m/%d" }}</a>
                                    </li>
                                    <li><a href="#" class="persian">دیدگاه {{ post.comments.all.count }}</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
    <!-- Banner Ends Here -->


    <section class="blog-posts">
        <div class="container">
            <div class="row">
                {% render_partial 'blog:sidebar' %}
                <div class="col-lg-8">
                    <div class="all-blog-posts">
                        <div class="row">
                            {% for newpost in newest_posts %}
                            <div class="col-lg-12">
                                <div class="blog-post">
                                    <div class="blog-thumb">
                                        <img class="rounded" src="{{ newpost.images.all.first.image.url }}" alt="">
                                    </div>
                                    <div class="down-content">
                                        <span>{{ newpost.category.title }}/{{ newpost.subcategory.title }}</span>
                                        <a href="{{ newpost.get_absolute_url }}"><h4>{{ newpost.title }}</h4></a>
                                        <ul class="post-info">
                                            <li><a href="#">{{ newpost.author.full_name }}</a></li>
                                            <li><a href="#">{{ newpost.date_published|jformat:"%Y/%m/%d" }}</a></li>
                                        </ul>
{#                                        <p>{{ newpost.body|truncatewords:50 }}</p>#}
                                        <div>
{#                                            <p>{{ newpost.body|safe|truncatewords:50 }}</p>#}
                                        </div>
                                        <div class="post-options">
                                            <div class="row">
                                                <div class="col-6">
                                                    <ul class="post-tags">
                                                        <li><i class="bi bi-chat-fill"></i></li>
                                                        <li>{{ newpost.comments.all.count }}</li>
                                                        <li>|</li>
                                                        <li><i class="fa fa-heart"></i></li>
                                                        <li>{{ newpost.likes.all.count }}</li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                            <div class="col-lg-12">
                                <div class="main-button">
                                    <a class="rounded" href="{% url 'blog:newposts' %}">مشاهده مقاله های بیشتر</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    </section>

{% endblock %}