{% extends 'blog_base.html' %}
{% load static %}
{% load jformat %}


{% block blog_content %}


    <section class="blog-posts grid-system text-right" dir="rtl">
        <div class="container">
            <div class="blog-thumb">
                <img src="{{ post.images.all.first.image.url }}" alt="" class="img-fluid rounded"
                     style="width: 100%; height: auto; object-fit: cover;">
            </div>
            <div class="row justify-content-center">
                <div class="col-lg-12">
                    <div class="blog-post">
                        <div class="down-content">
                            <span>{{ post.category }}</span>
                            <h3>{{ post.title }}</h3>
                            <ul class="post-info list-unstyled d-flex ">
                                <li class=""><a href="#">{{ post.author.full_name }}</a></li>
                                <li class=""><a href="#">{{ post.date_published|jformat:"%Y/%m/%d" }}</a></li>
                                <li><i class="bi bi-chat-fill px-2"></i>{{ post.comments.all.count }}</li>
                                {% if request.user.is_authenticated %}
                                        {#                                <li>#}
                                        {#                                    <a onclick="like('{{ post.id }}', '{{ post.slug }}')"><i id="like" class="fa fa-heart px-2"></i></a><span id="count">{{ post.likes.all.count }}</span>#}
                                        {#                                </li>#}
                                        {##}
                                        {#                            {% else %}#}
                                        {#                                <li>#}
                                        {#                                    <a onclick="like('{{ post.id }}', '{{ post.slug }}')"><i id="like" class="fa fa-heart-o px-2"></i></a><span id="count">{{ post.likes.all.count }}</span>#}
                                        {#                                </li>#}
                                        <li>
                                            <a onclick="like('{{ post.id }}', '{{ post.slug }}')"
                                               style="cursor: pointer;">
                                                <i id="like"
                                                   class="fa {% if is_liked %}fa-heart{% else %}fa-heart-o{% endif %} px-2"></i>
                                            </a>
                                            <span id="count">{{ post.likes.count }}</span>
                                        </li>
                                {% else %}
                                    <li><a href="{% url 'blog:like' post.id post.slug %}"><i
                                            class="fa fa-heart px-2"></i></a>{{ post.likes.all.count }}</li>
                                {% endif %}

                                <li>آخرین بروزرسانی :{{ post.updated_at|jformat:"%Y/%m/%d" }}{{ last_update }}</li>
                                {#                            <li >آخرین بروزرسانی :<a class="px-2" href="#">{{ post.updated_at|jformat:"%A ساعت %H:%M" }}</a></li>#}
                            </ul>
                            <p>{{ post.body|safe }}</p>
                        </div>
                    </div>
                    {#                    <div class="col-lg-12">#}
                    {#                        <div class="sidebar-item comments">#}
                    {#                            <div class="sidebar-heading">#}
                    {#                                <h2>دیدگاه </h2>#}
                    {#                            </div>#}
                    {#                            <div class="content">#}
                    {#                                <ul>#}
                    {#                                    {% for comment in post.comments.all %}#}
                    {#                                        {% if comment.parent == None %}#}
                    {#                                            <li>#}
                    {#                                                <div class="right-content">#}
                    {#                                                    <h4>{{ comment.user.full_name }}<span>{{ comment.created_at }}</span></h4>#}
                    {#                                                    <p>{{ comment.body }}</p>#}
                    {#                                                </div>#}
                    {#                                            </li>#}
                    {#                                        {% else %}#}
                    {#                                            <li>#}
                    {#                                                <div class="right-content">#}
                    {#                                                    <h4>{{ comment.user.full_name }}<span>{{ comment.created_at }}</span></h4>#}
                    {#                                                    <p>{{ comment.body }}</p>#}
                    {#                                                </div>#}
                    {#                                            </li>#}
                    {#                                            {% for reply in comment.replies.all %}#}
                    {#                                                <li class="replied">#}
                    {#                                                    <div class="right-content">#}
                    {#                                                        <h4>{{ reply.user.full_name }}<span>{{ reply.created_at }}</span></h4>#}
                    {#                                                        <p>{{ reply.body }}</p>#}
                    {#                                                    </div>#}
                    {#                                                </li>#}
                    {#                                            {% endfor %}#}
                    {#                                        {% endif %}#}
                    {#                                    {% endfor %}#}
                    {#                                </ul>#}
                    {#                            </div>#}
                    {#                        </div>#}
                    {#                    </div>#}
                    <div class="col-lg-12">
                        <div class="sidebar-item comments">
                            <div class="sidebar-heading">
                                <h2>دیدگاه‌ها</h2>
                            </div>
                            <div class="content">
{#                                <ul class="comment-list">#}
{#                                    {% for comment in post.comments.all %}#}
{#                                        {% if comment.parent == None %}#}
{#                                            <li class="comment">#}
{#                                                <div class="right-content">#}
{#                                                    <h4>{{ comment.user.full_name }}<span#}
{#                                                            class="pr-4">{{ comment.created_at|jformat:"%Y/%m/%d  %H:%M" }}</span>#}
{#                                                    </h4>#}
{#                                                    <p>{{ comment.body }}</p>#}
{#                                                    {% if request.user.is_authenticated %}#}
{#                                                        <button onclick="set_value({{ comment.id }})"#}
{#                                                                class="main-button-2 rounded">پاسخ#}
{#                                                        </button>#}
{#                                                    {% endif %}#}
{#                                                </div>#}
{#                                                {% if comment.replies.all %}#}
{#                                                    <ul class="reply-list">#}
{#                                                        {% for reply in comment.replies.all %}#}
{#                                                            <li class="reply">#}
{#                                                                <div class="right-content">#}
{#                                                                    <h4>{{ reply.user.full_name }}<span#}
{#                                                                            class="pr-4">{{ reply.created_at|jformat:"%Y/%m/%d  %H:%M" }}</span>#}
{#                                                                    </h4>#}
{#                                                                    <span class="reply-to">در پاسخ به <span class="px-2">{{ reply.parent.user.full_name }}</span></span>#}
{#                                                                    <p>{{ reply.body }}</p>#}
{#                                                                    {% if request.user.is_authenticated %}#}
{#                                                                        <button onclick="set_value({{ reply.id }})"#}
{#                                                                                class="main-button-2 rounded">پاسخ#}
{#                                                                        </button>#}
{#                                                                    {% endif %}#}
{#                                                                </div>#}
{#                                                            </li>#}
{#                                                        {% endfor %}#}
{#                                                    </ul>#}
{#                                                {% endif %}#}
{#                                            </li>#}
{#                                        {% endif %}#}
{#                                    {% endfor %}#}
{#                                </ul>#}


{#                                <ul class="comment-list">#}
{#                                    {% for comment in post.comments.all %}#}
{#                                        {% if comment.parent is None %}#}
{#                                            <li class="comment">#}
{#                                                <div class="right-content">#}
{#                                                    <h4>{{ comment.user.full_name }}<span#}
{#                                                            class="pr-4">{{ comment.created_at|jformat:"%Y/%m/%d  %H:%M" }}</span>#}
{#                                                    </h4>#}
{#                                                    <p>{{ comment.body }}</p>#}
{#                                                    {% if request.user.is_authenticated %}#}
{#                                                        <button onclick="set_value({{ comment.id }})"#}
{#                                                                class="main-button-2 rounded">پاسخ#}
{#                                                        </button>#}
{#                                                    {% endif %}#}
{#                                                </div>#}
{##}
{#                                                {% include "blog/comment_recursive.html" with comments=comment.replies.all %}#}
{##}
{#                                            </li>#}
{#                                        {% endif %}#}
{#                                    {% endfor %}#}
{#                                </ul>#}


                                <ul class="comment-list">
                                    {% for comment in post.comments.all %}
                                        {% if comment.parent is None %}
                                            <li class="comment">
                                                <div class="right-content">
                                                    <h4>{{ comment.user.full_name }}<span
                                                            class="pr-4">{{ comment.created_at|jformat:"%Y/%m/%d  %H:%M" }}</span>
                                                    </h4>
                                                    <p>{{ comment.body }}</p>
                                                    {% if request.user.is_authenticated %}
                                                        <button onclick="set_value({{ comment.id }})"
                                                                class="main-button-2 rounded">پاسخ</button>
                                                    {% endif %}

                                                    {% if comment.replies.all %}
                                                        <button class="toggle-replies-btn rounded" onclick="toggleReplies({{ comment.id }})">
                                                            نمایش پاسخ‌ها ({{ comment.replies.count }})
                                                        </button>
                                                        <ul class="reply-list" id="reply-list-{{ comment.id }}" style="display: none;">
                                                            {% include "blog/comment_recursive.html" with comments=comment.replies.all %}
                                                        </ul>
                                                    {% endif %}
                                                </div>
                                            </li>
                                        {% endif %}
                                    {% endfor %}
                                </ul>

                            </div>
                        </div>
                    </div>
                    {% if request.user.is_authenticated %}
                        <div class="col-lg-12">
                            <div class="sidebar-item submit-comment">
                                <div class="sidebar-heading">
                                    <h2>دیدگاه شما</h2>
                                </div>
                                <div class="content">
                                    <form id="comment" action="#" method="post">
                                        {% csrf_token %}
                                        <div class="row">
                                            <input type="hidden" id="parent_id" name="parent_id" value="">
                                            <div class="col-lg-12">
                                                <fieldset>
                                                <textarea name="body" rows="6" id="body"
                                                          placeholder="دیدگاه خود را وارد کنید..."
                                                          required=""></textarea>
                                                </fieldset>
                                            </div>
                                            <div class="col-lg-12">
                                                <fieldset>
                                                    <button type="submit" id="form-submit" class="main-button rounded">
                                                        ثبت
                                                    </button>
                                                </fieldset>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    {% else %}
                        <div class="col-lg-12">
                            <div class="sidebar-item submit-comment">
                                <div class="sidebar-heading">
                                    <h2>برای ثبت دیدگاه خود ابتدا <a href="{% url 'account:signin' %}?next={% url 'blog:post_detail' post.slug %}"
                                                                     style="color: #ef4056">وارد</a> حساب کاربری خود
                                        شوید</h2>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </section>

    <script>

        function set_value(id) {
            document.getElementById('parent_id').value = id;
            window.location.href = '#body'
        }


        function toggleReplies(commentId) {
            let replyList = document.getElementById("reply-list-" + commentId);
            let toggleButton = document.querySelector(`[onclick="toggleReplies(${commentId})"]`);

            if (replyList.style.display === "none") {
                replyList.style.display = "block";
                toggleButton.textContent = "بستن پاسخ‌ها";
            } else {
                replyList.style.display = "none";
                toggleButton.textContent = "نمایش پاسخ‌ها (" + replyList.childElementCount + ")";
            }
        }



    </script>

{% endblock %}
