{% extends 'account/user_panel.html' %}
{% load widget_tweaks %}
{% load humanize %}
{% load jformat %}

{% block panel_content %}

    <div class="container-fluid">
        <div class="mr-auto">
            <div class="">
                <h5 class="section-title position-relative text-uppercase mb-3 text-right">
                    <span class="bg-secondary pr-3">اطلاعات حساب کاربری</span>
                </h5>
                <div class="bg-light p-30 mb-5">
                    <form method="post" action="{% url 'account:edit_profile' user.id %}">
                        {% csrf_token %}

                        <div class="row">
                            <div class="col-12 col-md-6 form-group">
                                <label>نام و نام خانوادگی</label>
                                {{ form.full_name|attr:"class:form-control rounded" }}
                                {{ form.full_name.errors }}
                            </div>
                            <div class="col-12 col-md-6 form-group">
                                <label>شماره همراه</label>
                                {{ form.phone|attr:"class:form-control rounded" }}
                                {{ form.phone.errors }}
                            </div>
                            <div class="col-12 col-md-6 form-group">
                                <label>ادرس ایمیل</label>
                                {{ form.email|attr:"class:form-control rounded" }}
                                {{ form.email.errors }}
                            </div>
                            <div class="col-12 col-md-6 form-group">
                                <label>کد ملی</label>
                                {{ form.melicode|attr:"class:form-control rounded" }}
                                {{ form.melicode.errors }}
                            </div>
                        </div>

                        <button type="submit" class="form-control badge-success rounded mt-5">تایید و ذخیره</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
