{% extends 'account/user_panel.html' %}
{% load humanize %}

{% block panel_content %}

{% if request.user.likes.all %}
    <div class="row d-flex flex-row">
        {% for favorite in favorites %}
            <div class="col-lg-3 col-md-4 col-sm-6">
                <div class="product-item bg-light mb-2 rounded-2" style="max-width: 100%; max-height:340px">
                    <div class="product-img position-relative overflow-hidden rounded-2">
                        <img class="img-fluid w-75 h-auto d-block mt-3"
                             src="{{ favorite.product.images.all.first.image.url }}"
                             alt="{{ favorite.slug }}" style="object-fit: cover;">
                        <div class="product-action">
                            <a class="btn btn-outline-dark btn-square" href="{{ favorite.product.get_absolute_url }}"><i
                                    class="fa fa-shopping-cart"></i></a>
                            <a class="btn btn-outline-dark btn-square pt-1"
                               href="{% url 'product:remove_favorite' favorite.product.id %}"><i
                                    class="bi bi-trash"></i></a>
                        </div>
                    </div>

                    <div class="text-center py-4">
                        <a class="h6 text-decoration-none text-truncate text-wrap p-3"
                           href="{{ favorite.product.get_absolute_url }}">{{ favorite.product.title }}</a>
                        {% if product.discount != 0 %}
                            <div class="d-flex align-items-center justify-content-center">
                                <h5>{{ favorite.product.discount_price|intcomma:False }}</h5>
                                <span class="mr-1 ml-1 toman">تومان</span>
                            </div>
                            <div class="d-flex align-items-center justify-content-center">
                                <h6 class="text-muted ml-2 mr-2">
                                    <del><span>{{ favorite.product.price|intcomma:False }}</span>
                                        <span class="mr-1 ml-1 toman">تومان</span>
                                    </del>
                                </h6>
                            </div>
                        {% else %}
                            <div class="d-flex align-items-center justify-content-center">
                                <h5>{{ favorite.product.price|intcomma:False }}</h5>
                                <span class="mr-1 ml-1 toman">تومان</span>
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% else %}
    <div class="col">
        <span class="p-30">لیست مورد علاقه شما خالی است</span>
    </div>
{% endif %}

{% endblock %}