{% extends 'account/user_panel.html' %}
{% load jformat %}
{% load custom_filters %}
{% load humanize %}
{% load static %}

{% block panel_content %}
<div class="bg-light p-4 mt-4 rounded-2">
    <h5 class="mb-4">سفارش های اخیر</h5>
    {% if recent_orders %}
        {% for order in recent_orders %}
            {% for order_item in order.order_items.all %}
                <div class="product-item bg-white p-3 rounded-2 mt-3">
                    <div class="d-flex flex-column flex-md-row align-items-center">
                        <img class="img-fluid mb-3 mb-md-0 ml-3" src="{{ order_item.product.images.all.first.image.url }}"
                             alt="{{ order_item.product.title }}" style="width: 80px; height: 80px;">
                        <div class="ml-3">
                            <h6 class="text-truncate">{{ order_item.product.title }}</h6>
                            <p class="text-muted mb-0">
                                {% if order_item.product.discount_price|intcomma:False %}
                                    {{ order_item.product.discount_price|intcomma:False }}
                                {% else %}
                                    {{ order_item.product.price|intcomma:False }}
                                {% endif %}
                            </p>
                            {% for attribute_name, value in order_item.attribute.items %}
                                <p class="text-muted mb-0">{{ attribute_name }}: {{ value }}</p>
                            {% endfor %}
                            <p class="text-muted mb-0">
                                {{ order.order_date|jformat:"%Y/%m/%d" }}
                            </p>
                        </div>
                    </div>
                </div>
            {% endfor %}
        {% endfor %}
    {% else %}
        <div class="col">
            <span class="p-30">لیست سفارشات شما خالی است</span>
        </div>
    {% endif %}
</div>
{% endblock %}

{% block recent_orders %}

{% endblock %}
